div#lineplot, div#heatmap{
	width:100%;
	height: auto;
	display:flex;
	flex-direction: column;
}

table#tablelineplots
{
	border:0;
table-layout:fixed;
    width:100%;
    border-spacing:0;
    border-collapse:collapse;
    padding:0;
    margin:0;
    position: relative;
	height: auto;
	padding-bottom:0;
}

#tablelineplots > tbody {
	width:100%;
	height:auto;
	padding-bottom:0px;
}

#tablelineplots tr>td {
	padding:0px;
	padding-bottom:0px;
	height:auto;
}

#tablelineplots tr {
    margin:0;
    padding:0;
	width:100%;
    height:auto;
	padding-bottom:0;

}

#corr-menu-tbl > tr {
    padding:1px;
}

#corrcoeff > td {
    padding: 1px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#corrcoeff > th {
    text-align:center;
    border-bottom:1.5px solid #ddd;
}

input.submit-button {
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.submit-button:hover {
  color: #0275d8;
  box-shadow: 0 5px 5px  #B0C4DE;

table#corrcoeff tr:hover {background-color:#f5f5f5;}
