body,html{
            margin: 2;
            padding: 1;
        }
#lineplot, #heatmap{

	width:100%;
	height: 100%;
	display:flex;
	flex-direction: column;
		}
table 
{
    table-layout:fixed;
    width:100%;
}

