<!DOCTYPE html>
<html>
<head>
	<title>Graphs</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>	
	<link href="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.css" rel="stylesheet" type="text/css">
	<script src="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='jscripts.js') }}" async></script>
</head>
	<body>
		<div class="row">


		<div class="panel panel-default">
			<div class="panel-heading" id="panelHeadAbs"><h3>Absorbance Line plot</h3></div>
			<div class="panel-body" id="lineplot">
				<table style="width=100%;max-width:100%">		
						{% for i in range(16) %}
								<tr style="margin:2px;padding:-2px">
								{% for j in range(24) %}
										<td style="padding:1px;max-width:100%">{{absLnPlt[j+(i)*24]|safe}}</td>
								{% endfor %}
								</tr> 
						{% endfor %}
				</table>
			</div>

		</div>

</div>
		
<div class="panel panel-default">
	<div class="panel-heading" id="panelHeadHm"><h3>Select a wavelength to plot a heatmap</h3></div>

		<div class="panel-body" id="heatmap">
				<form id="form-wavelength">
						<label for="wavelength_selector">Wavelength:</label>	
                        <select id="wavelength_selector">
								<option value="{{wvls[0]}}" selected> {{wvls[0]}}</option>
						{% for wvl in wvls[1:] %}
							<option value="{{wvl}}">{{wvl}}</option>
						{% endfor %}
						</select>
						<input class="submit-button" type="submit" id="submit-btn-hm">			
				</form>
				<div id="innerPanel">		
                    <!- #heatmap goes here->	
                </div>
            </div>
		</div>
	</body>
</html>
